name: Build JAR
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
      - run: chmod +x gradlew
      - run: ./gradlew --no-daemon shadowJar
      - uses: actions/upload-artifact@v4
        with:
          name: AnnouncerPlus-jar
          path: build/libs/*.jar
